<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NewCSS/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirstWebApplication1.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
<style>
        .dascwkbk {
            border: 0;
            padding: 8px;
            border-radius: 33px;
            margin: 15px;
        
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
