
@{
    ViewData["Title"] = "ForgotPassword";

    Layout = "_Layout_Login";

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="loginBg">
    <img src="~/Assets/Backgrounds/Background 4.jpg" alt="Background" class="loginBg-img" />
</div>
<div class="row loginfram">
    <div class="col-md-6 loginfram-left">
        <img src="~/Assets/Illustration/downloadfile-2.jpg" alt="Background" class="loginStyle-img" />
    </div>
    <div class="col-md-6 loginfram-right">
        <div class="form-area">
            <div class="logInHeading">ForgotPassword</div>
            <div class="f-d-error" id="error"></div>
            <div id="f1">
                <div class="form-area-field">
                    <div class="f-d-text-area" type="text">
                        <div class="f-d-text">Email</div>
                        <div class="f-d-error" id="valid_email"></div>
                    </div>

                    <input class="form-area-input" type="email" id="email" />
                    <button class="dascwkbk" id="send_otp" onclick="verify_email()">send OTP</button>
                </div>
                <div class="form-area-field">
                    <div class="f-d-text-area" type="text">
                        <div class="f-d-text">OTP</div>
                        <div class="f-d-error" id="valid_otp"></div>
                    </div>
                    <input class="form-area-input" type="email" id="otp" />
                </div>
                <button class="f-d-submitBtn" onclick="f2()">NEXT</button>
            </div>
            <div id="f2">

                <div class="form-area-field">
                    <div class="f-d-text-area" type="text">
                        <div class="f-d-text">password</div>
                        <div class="f-d-error" id="valid_password"></div>
                    </div>
                    <input class="form-area-input" type="email" id="pass" />
                </div>
                <div class="form-area-field">
                    <div class="f-d-text-area" type="text">
                        <div class="f-d-text">confirm password </div>
                        <div class="f-d-error" id="valid_compass"></div>
                    </div>
                    <input class="form-area-input" type="email" id="compass" />
                </div>
                <button class="f-d-submitBtn" onclick="Back_f1()">BACK</button>
                <button class="f-d-submitBtn" onclick="register()">submit</button>

            </div>
                <a href="/app/loginView">Login</a> 
            </div>
        </div>
    </div>
</div>
            <!--
<div>
    <div id="f1">
        <div>
            <label>email :- </label>
            <input type="email" id="email" />
            <div style="color: red;" id="valid_email"></div>
            <button id="send_otp" onclick="verify_email()">send OTP</button>
        </div>
        <div id="fotp">
            <label>OTP :- </label>
            <input type="number" id="otp" />
            <div style="color: red;" id="valid_otp"></div>
        </div>
        <button onclick="f2()">NEXT</button>
    </div>
    <div id="f2">
        <div>
            <label>password :- </label>
            <input type="text" id="pass" />
            <div style="color: red;" id="valid_password"></div>
        </div>
        <div>
            <label>confirm password :- </label>
            <input type="password" id="compass" />
            <div style="color: red;" id="valid_compass"></div>
        </div>
        <button onclick="Back_f1()">BACK</button>
        <button onclick="register()">submit</button>
    </div>
</div>
<div>
    <a href="/app/loginView">Login</a>
</div>
-->
<script>
    $(document).ready(function () {
        $("#f1").show();
        $("#f2").hide();
        $("#fotp").hide();
    });

    function f2() {
        var email = $("#email").val();
        var enterd_otp = $.trim($("#otp").val());
        console.log(enterd_otp, otp);

        if (email == "" || enterd_otp == "") {
            $("#report").text("Please fill in all details");
            return;
        } else if (!/^\d{6}$/.test(enterd_otp)) {
            $("#valid_otp").text("Please enter a valid 6-digit OTP code");
            return;
        }
        $("#valid_email").text("");
        $("#valid_otp").text("");

        if (enterd_otp != otp) {
            $("#report").text("invalid otp");
            return;
        } else {
            $("#report").text("");
            $("#valid_email").text("");
            $("#valid_otp").text("");
            $("#f1").hide();
            $("#f2").show();
        }
    }

    function Back_f1() {
        $("#f1").show();
        $("#f2").hide();
    }

    function verify_email() {
        const email = $('#email').val();
        if (email == "") {
            $("#valid_email").text("please fill email");
            return;
        }
        $.ajax({
            url: '/MemberRegister/checkEmail',
            method: 'POST',
            data: { email: email },
            success: function (response) {
                if (response == "exist") {
                    $('#valid_email').html('otp is sending...');
                    sendOTP(email);
                } else if (response == "notValid") {
                    $("#valid_email").text('Please enter a valid email.');
                } else if (response == "send") {
                    $("#valid_email").text('Email not exist in the system.');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching options: ' + status + ' - ' + error);
            }
        });
    }

    function sendOTP(email) {
        $.ajax({
            url: '/MemberRegister/sendOtp',
            type: 'POST',
            data: { email: email },
            success: function (response) {
                console.log(response);
                otp = response;
                $('#valid_email').html('otp has sended to email');
                $("#fotp").show();
            },
            error: function (xhr, status, error) {
                console.error('Error sending email:', error);
            }
        });
    }

    function register() {
        var pass = $("#pass").val();
        var compass = $("#compass").val();
        var email = $("#email").val();

        if (pass == "") {
            $("#valid_password").text("please enter password");
            return;
        } else if (!pass.match(/[a-z]/g)) {
            $("#valid_password").text("Password must include small character");
            return;
        } else if (!pass.match(/[A-Z]/g)) {
            $("#valid_password").text("Password must include Capital character");
            return;
        } else if (!pass.match(/[0-9]/g)) {
            $("#valid_password").text("Password must include Number digits");
            return;
        } else if (pass.length <= 6) {
            $("#valid_password").text("Password must be more than 6 latters");
            return;
        } else if (pass != compass) {
            $("#valid_compass").text("plase, cheack comfirm password");
            return;
        }

        $("#valid_password").text("");
        $("#valid_compass").text("");
        $.ajax({
            url: '/MemberRegister/forgotPassword',
            method: 'POST',
            data: { email:email, password: pass},
            success: function (response) {
                if (response == "success") {
                    window.location.href = '/app/loginView';
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching options: ' + status + ' - ' + error);
            }
        });
    }
</script>
